.main {
  text-align: center;
}
.multi-step-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 8px;
  background-image: linear-gradient(
    250deg,
    rgb(175, 168, 168),
    rgb(248, 248, 243)
  );
  font-family: "Times New Roman", Times, serif;
}

.steps-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px double black;
}

.step-item {
  text-align: center;
}

.step-number {
  font-size: 1.5rem;
  color: black;
}

.step-title {
  display: block;
  margin-top: 8px;
  font-weight: 500;
  color: black;
  font-size: 1.5rem;
}

.step-item.active .step-number {
  color: #007bff;
}

.step-item.active .step-title {
  color: #007bff;
}

.form-content {
  margin-bottom: 10px;
}
